POSTGRES_USER=
POSTGRES_PASSWORD=
ORGANIZATION_DB=
ORDERING_DB=
INVENTORY_DB=

KAFKA_NODE_ID=
KAFKA_PROCESS_ROLES=
KAFKA_LISTENERS=
KAFKA_ADVERTISED_LISTENERS=
KAFKA_CONTROLLER_LISTENER_NAMES=
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=
KAFKA_INTER_BROKER_LISTENER_NAME=
KAFKA_CONTROLLER_QUORUM_VOTERS=
KAFKA_AUTO_CREATE_TOPICS_ENABLE=
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=
CLUSTER_ID=

COLLECTOR_OTLP_ENABLED=
OTEL_OTLP_ENDPOINT=

JWT_AUDIENCE=
ORGANIZATION_JWT_ISSUER=
ORGANIZATION_JWT_REFRESH_TOKEN_EXPIRES_IN_DAY=
ORGANIZATION_JWT_ACCESS_TOKEN_EXPIRES_IN_MINUETS=
JWT_AUTHORITY=
ADMIN_PASSWORD=
RSA_PEM_PATH=

ORGANIZATION_CONNECTION_STRING=
ORDERING_CONNECTION_STRING=
INVENTORY_CONNECTION_STRING=
ORGANIZATION_MIGRATION_DATABASE_URL=
ORDERING_MIGRATION_DATABASE_URL=
INVENTORY_MIGRATION_DATABASE_URL=

KAFKA_BOOTSTRAP_SERVERS=
KAFKA_ORDERING_TOPIC=
KAFKA_INVENTORY_TOPIC=
KAFKA_ORDERING_DEAD_LETTER_TOPIC=
KAFKA_INVENTORY_DEAD_LETTER_TOPIC=

REDIS_CONNECTION_STRING=

EDGE_PUBLIC_DNS=
LETSENCRYPT_EMAIL=
